test/*.test
test/test9.sml
test/test10.sml
smlgen
save
run
.cm/
*.d
*.o
*.eb
*.eb1
*.lnk
mlkit-stubs.sml
smlnj-lib.mlb
smlgen.amd64-linux
MLB/
Deps.smlnet
.smlnetdep
.smlnetobj
*.il
*.exe
smldotnet/bin
smldotnet/obj